# Node
node_modules/
dist/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# Database
*.sqlite
inventory_data.json
db.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
errs.txt
tsc-errors.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
backend/inventory_data.json
frontend/.next/
frontend/.env.local
backend/dist/
backend/node_modules/
frontend/node_modules/
